/* General Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Julius Sans One', Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

body {
    background-color: black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* background: linear-gradient(transparent, rgb(28, 28, 28) 95%), url("../images/meric-dagli-3KJpF86nR4c-unsplash.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% 500px; */
}

/* Header and navigation */
.header {
    display: flex;
    height: 500px;
    flex-direction: row;
    background: linear-gradient(transparent, black 60%), url("../images/pexels-steve-johnson-5685604.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.name-avatar {
    /* border: 2px solid yellow; */
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Arizonia", cursive;
    text-shadow: 2px 4px 2px rgba(177, 7, 149, 0.542);
    font-size: 50px;
}

.name h1 {
    /* border: 2px solid black; */
    height: 70px;
    /* width: 90%; */
    /* font-family: "Arizonia", cursive; */
    font-family: "Reenie Beanie", cursive;
    font-size: 110px;
    font-weight: 400;
    color: white
    
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.avatar img {
    height: 300px;
    /* width: 90%; */
    object-fit: contain;
    border-radius: 30px;
    margin:auto 0;
    border: 2px solid rgb(0, 0, 0);

}
.navigation-subtitle {
    /* border: 2px solid orange; */
    height: 500px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    /* border: 2px solid black; */
    height: 100px;
    width: 80%;
}

.header nav {
    padding-top: 50px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.header nav ul {
    /* list-style-type: none; */
}

.header nav ul li {
    display: inline-block;
    margin-left: 2px;
}

.rounded-corners {
    border-radius: 15px 0px 15px 0px;
    padding: 5px 20px;
    background-color: rgb(223, 216, 21);
    box-shadow: inset 0 0 2px white;
    color: black;
}

.subtitle {
    /* border: 2px solid black; */
    height: 350px;
    width: 80%;
    color: rgb(13, 185, 215);
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    padding-top: 50px;
    text-align: center;
}

/* About Me */
.about-me {
    display: flex;
    height: 200px;
    align-items: center;
    flex-direction: row;
}

.about-me-locator {
    /* border: 2px solid red; */
    height: 50px;
    width: 30%;
    text-align: right;
    padding-right: 60px;
    padding-top: 12px;
    background: linear-gradient(to right, transparent, rgb(238, 4, 156) 150%);
}

.about-me-summary {
    /* border: 2px solid pink; */
    height: 170px;
    width: 70%;
    padding-inline: 80px;
    text-align: justify;
    
}

/* Work */
.work {
    display: flex;
    height: 500px;
    align-items: center;
    flex-direction: row;
}

.work-locator {
    /* border: 2px solid blue; */
    height: 50px;
    width: 30%;
    text-align: right;
    padding-right: 60px;
    padding-top: 12px;
    background: linear-gradient(to right, transparent, rgb(4, 241, 217) 150%);
}

.projects {
    /* border: 2px solid teal; */
    height: 500px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px
    /* padding-top: 35px */
}

.future-projects { 
    position: relative;
    text-align: center;
    flex: 1;
}

.active-project {
    flex: 2;
}

.future-projects img {
    height: 450px;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
    margin:auto 0;
    border: 1px solid rgb(223, 216, 21);
    border-radius: 120px;
}

.future-projects h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(223, 216, 21);
    border-radius: 200px;
    padding: 5px 20px;
    background-color: rgba(3, 3, 3, 0.616);
    box-shadow: inset 0 0 2px white;

  }

  /* .rounded-corners {
    border-radius: 15px 0px 15px 0px;
    padding: 5px 20px;
    background-color: black;
    box-shadow: inset 0 0 2px white;
} */


/* .project-2 img {
    height: 450px;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
    margin:auto 0;
    border: 2px solid yellow;
    border-radius: 120px;
}

.project-3 img {
    height: 450px;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
    margin:auto 0;
    border: 2px solid yellow;
    border-radius: 120px;
}

.project-4 img {
    height: 450px;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
    margin:auto 0;
    border: 2px solid yellow;
    border-radius: 120px;
}

.project-5 img {
    height: 450px;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
    margin:auto 0;
    border: 2px solid yellow;
    border-radius: 120px;
}

.project-1 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

/* 
.project-2 {
    border: 2px solid black;
    height: 450px;
    width: 20%;
    border-radius: 120px 120px 120px 120px;
}

.project-3 {
    border: 2px solid black;
    height: 450px;
    width: 20%;
    border-radius: 120px 120px 120px 120px;
}

.project-4 {
    border: 2px solid black;
    height: 450px;
    width: 20%;
    border-radius: 120px 120px 120px 120px;
}

.project-5 {
    border: 2px solid black;
    height: 450px;
    width: 20%;
    border-radius: 120px 120px 120px 120px;
} */

/* Footer */
.contact {
    display: flex;
    height: 100px;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.contact-locator {
    /* border: 2px solid green; */
    height: 50px;
    width: 30%;
    text-align: right;
    padding-right: 60px;
    padding-top: 12px;
    background: linear-gradient(to right, transparent, rgb(13, 185, 215) 150%);
}

.contact-info {
    /* border: 2px solid purple; */
    height: 70px;
    width: 70%;
    padding-top: 22px;
}

.contact-info ul li {
    display: inline-block;
    margin-left: 2px;
}

.contact-links {
    border-radius: 15px 0px 15px 0px;
    padding: 5px 20px;
    background-color: rgba(238, 4, 156, 0.588);
    box-shadow: inset 0 0 2px rgb(255, 255, 255);
}
